@media screen and (min-width:1px) and (max-width:500px)
{
    .dropdown
    {
        width: 100%; 
    }
    #przycisk
    {
        display: flex;
        justify-content: center;
    }

    #menus
    {
        float: left;
        display: none;
    }

    body
    {
        padding: 0;
        margin: 0;
    }
    
    img
    {
        max-width:100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    
    #container
    {
        max-width:100%;
        height: auto;
        margin-left: 20%;
        margin-right: 20%;
    } 
    
    #logo
    {
        background-color: black;
        color: white;
        max-width: 100%;
        height:auto;
        text-align: center;
        font-size: 3vh; 
    }
    
    #body
    {
        background-color: black;
        color: white;
        max-width: 100%;
        height:auto;
        font-size: 9px;
    }
    
    #foot
    {
        background-color: black;
        color: white;
        max-width: 100%;
        height:auto;
        text-align: center;
        font-size: 9px;
    }
}

@media screen and (min-width:1201px)
{
    .dropdown
    {
        float: left;
    }

    body
    {
        padding: 0;
        margin: 0;
    }
    
    img
    {
        max-width:100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    
    #container
    {
        max-width:100%;
        height: auto;
        display: flex;
        justify-content: center;
    } 
    
    #logo
    {
        background-color: yellow;
        max-width: 100%;
        height:auto;
        text-align: center;
        font-size: 5vh; 
    }
    
    #body
    {
        background-color: green;
        max-width: 100%;
        height:auto;
    }
    
    #foot
    {
        background-color: blue;
        max-width: 100%;
        height:auto;
        text-align: center;
    }
}

@media screen and (min-width:501px) and (max-width:1200px)
{

    #przycisk
    {
        display: none;
    }

    #menus
    {
        float: left;
        display: none;
    }

    body
    {
        padding: 0;
        margin: 0;
    }
    
    img
    {
        max-width:100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    
    #container
    {
        max-width:100%;
        height: auto;
        margin-left: 20%;
        margin-right: 20%;
    } 
    
    #logo
    {
        background-color: greenyellow;
        max-width: 100%;
        height:auto;
        text-align: center;
        font-size: 5vh; 
    }
    
    #body
    {
        background-color: dodgerblue;
        max-width: 100%;
        height:auto;
    }
    
    #foot
    {
        background-color: darkslateblue;
        max-width: 100%;
        height:auto;
        text-align: center;
    }
}

@media screen and (min-width:1201px)
{
    #przycisk
    {
        display: none;
    }

    #menus{
        float: left;
    }

    body
    {
        padding: 0;
        margin: 0;
    }
    
    img
    {
        max-width:100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    
    #container
    {
        max-width:100%;
        height: auto;
        display: flex;
        justify-content: center;
    } 
    
    #logo
    {
        background-color: yellow;
        max-width: 100%;
        height:auto;
        text-align: center;
        font-size: 5vh; 
    }
    
    #body
    {
        background-color: green;
        max-width: 100%;
        height:auto;
    }
    
    #foot
    {
        background-color: blue;
        max-width: 100%;
        height:auto;
        text-align: center;
    }
}